.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--radius-sm);
    height: 60%;
    width: 80%;

    display: grid;
    grid-template-columns: 220px 1fr;

    overflow: hidden;

    -webkit-backdrop-filter: blur(30px);

    box-shadow:
        0 25px 60px rgba(0, 0, 0, 0.45),
        inset 0 1px 0 rgba(255, 255, 255, 0.08);

    background: rgba(18, 18, 22, 0.62);
    backdrop-filter: blur(35px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.window-sidebar {
    padding: 0.75rem;

    background:
        linear-gradient(
            180deg,
            rgba(255,255,255,0.08),
            rgba(255,255,255,0.03)
        );

    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);

    border-right: 1px solid rgba(255,255,255,0.1);
}

.window-controls {
    display: flex;
    padding: 0.75rem 0.5rem;
    gap: 3px;
}

.window-controls button i {
    font-size: 0.8rem;
}

.icon-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.sidebar-head {
    font-size: 10px;
    font-weight: 600;
    color: #696969;
    margin: 0.75em 0 0.5em 0;
}

.sidebar-icons {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--text-primary);
    font-size: 0.85rem;
    font-weight: 300;
}

.sidebar-icons img {
    width: 20px;
    height: 20px;
}

.window-header {
    display: flex;
    justify-content: space-between;
    height: 3.75rem;
    align-items: center;
    padding: 0 1rem;
    color: #B6B6B6;
}

/* 
------------------------------
    Icon Size - Individual 
------------------------------
*/

.window-quick-actions,
.window-nvg,
.quick-view,
.quick-act,
.quick-more {
    display: flex;
    align-items: center;
}

.font1 {
    font-size: 1.25rem;
}

.ti-chevron-down {
    font-size: 0.75rem;
}

.window-nvg h3 {
    color: #EBEBEB;
    font-size: 0.9rem;
}

.window-nvg i {
    margin-right: 1rem;
}

.window-quick-actions {
    gap: 2.5rem;
}

.ti-layout-grid {
    font-size: 1.2rem;
}

.ti-tag {
    transform: scaleX(-1);
}

.quick-act {
    gap: 1rem;
}

.quick-more {
    gap: 0.75rem;
}