.dock {
    position: fixed;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.dock-container {
    display: flex;
    flex-direction: column;
    gap: 3px;

    background-color: var(--glass);
    border-radius: var(--radius-md);
    padding: 0.25rem;
}

.dock-item {
    width: var(--icon-size);
    height: var(--icon-size);
}

.dock-item img {
    width: 100%;
}