.dock {
    position: fixed;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.dock-container {
    display: flex;
    flex-direction: column;
    gap: 3px;

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);

    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: var(--radius-md);

    padding: 0.25rem;

    box-shadow:
        0 20px 40px rgba(0, 0, 0, .28),
        inset 0 1px 0 rgba(255, 255, 255, .15);
}

.dock-item {
    width: var(--icon-size);
    height: var(--icon-size);

    transition: all .25s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 18px;

    cursor: pointer;

}

.dock-item img {
    width: 52px;
    height: 52px;
    object-fit: contain;

    user-select: none;
    pointer-events: none;
}

.dock-item:hover {
    transform: scale(1.65) translateX(0.5em);
    margin: 0.75em 0;
}