.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--radius-sm);
    height: 60%;
    width: 65%;

    display: grid;
    grid-template-columns: 165px 1fr;

    overflow: hidden;
    
    border: 1px solid rgba(255, 255, 255, 0.1);

    /* display: none; */

    animation: openWindow .35s cubic-bezier(.2,.8,.2,1);
}

@keyframes openWindow {
    from {
        opacity:0;
        transform:
        translate(-50%, -50%)
        scale(.92);
    }

    to {
        opacity:1;
        transform:
        translate(-50%, -50%)
        scale(1);
    }
}

.window-main {
    background-color: #1E1E1E;
}

.window-sidebar {
    padding: 0.75rem;

    border-right: 1px solid rgba(255,255,255,0.1);

    -webkit-backdrop-filter: blur(30px);

    box-shadow:
        0 25px 60px rgba(0, 0, 0, 0.45),
        inset 0 1px 0 rgba(255, 255, 255, 0.08);

    background: rgba(18, 18, 22, 0.62);
    backdrop-filter: blur(35px);
    isolation:isolate;
}

.window-controls {
    display: flex;
    padding: 0.75rem 0.25rem;
    gap: 3px;
}

.window-controls button i {
    font-size: 0.8rem;
}

.icon-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.sidebar-group {
    margin-bottom: 1.5rem;
    padding: 5px;
}

.sidebar-head {
    font-size: 10px;
    font-weight: 600;
    color: #696969;
    margin: 0.75em 0;
}

.sidebar-icons {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-primary);
    font-size: 0.75rem;
    font-weight: 500;
    opacity: 0.9;
}

.sidebar-icons i {
    color: #0089FF;
    font-size: 1.2rem;
    opacity: .9;
    transform: scale(.9);
}

.window-header {
    display: flex;
    justify-content: space-between;
    height: 3.75rem;
    align-items: center;
    padding: 0 1.25rem 0 2rem;
    color: #B6B6B6;
    background-color: #363636;
}

/* 
------------------------------
    Icon Size - Individual 
------------------------------
*/

.window-quick-actions,
.window-nvg,
.quick-view,
.quick-act,
.quick-more {
    display: flex;
    align-items: center;
    z-index: 10;
}

.font1 {
    font-size: 1.25rem;
}

.ti-chevron-down {
    font-size: 0.75rem;
}

.window-nvg h3 {
    color: #EBEBEB;
    font-size: 0.9rem;
}

.window-nvg i {
    margin-right: 1rem;
}

.window-quick-actions {
    gap: 2.5rem;
}

.ti-layout-grid {
    font-size: 1.2rem;
}

.ti-tag {
    transform: scaleX(-1);
}

.quick-act {
    gap: 1rem;
}

.quick-more {
    gap: 0.75rem;
}