.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: var(--radius-sm);

    width: 65%;
    height: 60%;

    overflow: hidden;

    animation: openWindow .35s cubic-bezier(.2, .8, .2, 1);

    transition:
        width .35s cubic-bezier(.22, 1, .36, 1),
        height .35s cubic-bezier(.22, 1, .36, 1),
        top .35s cubic-bezier(.22, 1, .36, 1),
        left .35s cubic-bezier(.22, 1, .36, 1),
        transform .35s cubic-bezier(.22, 1, .36, 1),
        border-radius .25s ease,
        opacity .2s ease;
    ;
}

@keyframes openWindow {
    from {
        opacity: 0;
        transform:
            translate(-50%, -50%) scale(.92);
    }

    to {
        opacity: 1;
        transform:
            translate(-50%, -50%) scale(1);
    }
}


.window-topbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 3.75rem;

    color: #B6B6B6;
}

.window-controls {
    display: flex;
    width: 165px;
    padding: 0.75rem 1.25rem;
    gap: 3px;

    border-right: 1px solid rgba(255, 255, 255, 0.1);

    -webkit-backdrop-filter: blur(30px);

    box-shadow:
        0 25px 60px rgba(0, 0, 0, 0.45),
        inset 0 1px 0 rgba(255, 255, 255, 0.08);

    background: rgba(18, 18, 22, 0.62);
    backdrop-filter: blur(35px);
    isolation: isolate;

    overflow: hidden;
}

.window-header {
    background-color: #363636;
}

.window-body {
    display: flex;
    height: 100%;
}

.window-sidebar {
    padding: 0.75rem;
    width: 165px;
    height: 100%;

    border-right: 1px solid rgba(255, 255, 255, 0.1);

    -webkit-backdrop-filter: blur(30px);

    box-shadow:
        0 25px 60px rgba(0, 0, 0, 0.45),
        inset 0 1px 0 rgba(255, 255, 255, 0.08);

    background: rgba(18, 18, 22, 0.62);
    backdrop-filter: blur(40px);
    isolation: isolate;
}

.window-content {
    flex: 1;
    min-width: 0;
    
    background-color: #1E1E1E;
}

.window-controls button i {
    font-size: 0.8rem;
}

.window.fullscreen {
    width: calc(100vw - 4.2rem);
    height: calc(100vh - var(--menubar-height));

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    top: var(--menubar-height);
    left: 4.25rem;

    transform: none;
}

.window.minimized {
    transform:
        translate(-180%, -40%)
        scale(.05);

    opacity:0;
}